In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import os

In [18]:
file = "E:\Programs\Python\Python Lab1\data_crawler\out.csv"

In [19]:
os.path.exists(file)

True

In [20]:
df = pd.read_csv(file)

In [21]:
df.head()

,title,artist,rank,link,imgsrc
0,Tera Ghata,Gajendra Verma,1,https://itunes.apple.com/in/album/tera-ghata/1...,/autopush/in/itunes/charts/songs/images/2018/8...
1,"Dilbar (From ""Satyameva Jayate"")","Neha Kakkar, Dhvani Bhanusali, Ikka & Tanishk ...",2,https://itunes.apple.com/in/album/dilbar-from-...,/autopush/in/itunes/charts/songs/images/2018/8...
2,Dhadak Title Track,Ajay Gogavale & Shreya Ghoshal,3,https://itunes.apple.com/in/album/dhadak-title...,/autopush/in/itunes/charts/songs/images/2018/8...
3,Tareefan,Qaran & Badshah,4,https://itunes.apple.com/in/album/tareefan/138...,/autopush/in/itunes/charts/songs/images/2018/8...
4,Dilbar,"Neha Kakkar, Dhvani Bhanusali & Ikka",5,https://itunes.apple.com/in/album/dilbar/14204...,/autopush/in/itunes/charts/songs/images/2018/8...

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
title     100 non-null object
artist    100 non-null object
rank      100 non-null int64
link      100 non-null object
imgsrc    100 non-null object
dtypes: int64(1), object(4)
memory usage: 4.0+ KB