In [17]:
# Tuple

In [2]:
a = (1, 2, 3, 4, 5)
print(a)

(1, 2, 3, 4, 5)

In [4]:
a[0] = 2 # value assignment does not work ok tuples

TypeError: 'tuple' object does not support item assignment

In [5]:
for i in a:
    print(i)

1
2
3
4
5

In [6]:
a.count(2)

1

In [7]:
a.index(4)

3

In [8]:
type(a)

tuple

In [12]:
a_list = list(a) # Converting tuple into list

In [10]:
type(a_list)

list

In [11]:
a_list

[1, 2, 3, 4, 5]

In [13]:
l = [1, 2, 3, 4]

In [16]:
l_tuple = tuple(l) # Converting list into tuple

In [18]:
l_tuple

(1, 2, 3, 4)

In [19]:
# Set

In [24]:
names = {'Imran', 'Kushagra', 'Prajjwal', 'Falguni', 'Ayush'}

In [25]:
type(names)

set

In [26]:
names

{'Ayush', 'Falguni', 'Imran', 'Kushagra', 'Prajjwal'}

In [30]:
for i in names:
    print(i)

Ayush
Kushagra
Falguni
Prajjwal
Imran

In [33]:
names1 = {'Ahamad', 'Prashant', 'Janmejay', 'Awantika'}
for i in names1:
    names.add(i)

In [34]:
names

{'Ahamad',
 'Awantika',
 'Ayush',
 'Falguni',
 'Imran',
 'Janmejay',
 'Kushagra',
 'Prajjwal',
 'Prashant'}

In [35]:
names.update({
    'Amir',
    'Chandan'
})

In [36]:
names

{'Ahamad',
 'Amir',
 'Awantika',
 'Ayush',
 'Chandan',
 'Falguni',
 'Imran',
 'Janmejay',
 'Kushagra',
 'Prajjwal',
 'Prashant'}

In [37]:
len(names)

11

In [38]:
names_list = list(names)

In [39]:
names_list

['Amir',
 'Ayush',
 'Kushagra',
 'Prashant',
 'Janmejay',
 'Chandan',
 'Falguni',
 'Prajjwal',
 'Ahamad',
 'Awantika',
 'Imran']

In [40]:
type(names_list)

list

In [42]:
x = [1,1,1,1,1,1,2,2,3,4,5,3,6,7,5,4]
x = set(x)

In [43]:
x

{1, 2, 3, 4, 5, 6, 7}

In [44]:
x = list(x)

In [45]:
x

[1, 2, 3, 4, 5, 6, 7]

In [49]:
a = {1, 2, 3}
b = {2, 3, 5, 6}
c = {7, 5, 8}
d = {1, 2, 3, 4}
e = {11, 22, 33}

In [50]:
a.issuperset(y)

False

In [51]:
d.issuperset(a)

True

In [53]:
a.issubset(d)

True

In [54]:
a.union(b)

{1, 2, 3, 5, 6}

In [56]:
a.difference(b)

{1}

In [57]:
a.intersection(b)

{2, 3}

In [58]:
a.intersection(e)

set()

In [59]:
a.isdisjoint(b)

False

In [60]:
a.discard(1)

In [61]:
a

{2, 3}

In [62]:
a.symmetric_difference(b)

{5, 6}

In [63]:
a.symmetric_difference?

Docstring:
Return the symmetric difference of two sets as a new set.

(i.e. all elements that are in exactly one of the sets.)
Type:      builtin_function_or_method

In [64]:
a

{2, 3}

In [66]:
a.add(1)

In [67]:
a

{1, 2, 3}

In [68]:
a.symmetric_difference_update(b)

In [69]:
a

{1, 5, 6}