In [17]:
hero = "Tom Cruise"
movie = "MI:5"
movie1 = "MI:4"
movie2 = "MI:3"

In [6]:
print(hero, movie)

Tom Cruise MI:5

In [7]:
print(hero, "is the star of", movie)

Tom Cruise is the star of MI:5

In [8]:
print(hero, "is my favraite actor")

Tom Cruise is my favraite actor

In [9]:
year = 2018

In [10]:
print(hero, "is actor in", movie, "which was released in", year)

Tom Cruise is actor in MI:5 which was released in 2018

In [11]:
print('hero')

hero

In [12]:
print('{hero}')

{hero}

In [13]:
print(f'{hero}')

Tom Cruise

In [14]:
f = 1

In [15]:
print(f'{hero}')

Tom Cruise

In [16]:
print(f'{hero} is actor in the {movie}')

Tom Cruise is actor in the MI:5

In [21]:
print(f'{hero} starred in {movie}, {movie1}, {movie2}')

Tom Cruise starred in MI:5, MI:4, MI:3

In [22]:
print(hero, 'starred in', movie, ',', movie1, ',', movie2)

Tom Cruise starred in MI:5 , MI:4 , MI:3

In [29]:
worst_movie = input(f"Enter the worst movie of {hero}:")

Enter the worst movie of Tom Cruise: The Mummy 4

In [30]:
print(f'{hero} worst movie was {worst_movie}')

Tom Cruise worst movie was The Mummy 4

In [35]:
a = input('a:')
b = input('b:')
c = a + b
print(c)

a: 10
b: 20

1020

a = int(input('a:'))
b = int(input('b:'))
c = a + b
print(c)

In [36]:
a = int(input('a:'))
b = int(input('b:'))
c = a + b
print(c)

a: 10
b: 20

30

#

In [37]:
a = int(input('a:'))
b = int(input('b:'))
c = a + b
print(c)

a: 20
b: 30

50

##

In [38]:
a = int(input('a:'))
b = int(input('b:'))
c = a + b
print(c)

a: 10
b: 20

30

In [40]:
a = int(input('a:'))
b = int(input('b:'))
c = a + b
print(c)

a: 10000000
b: 2000000000

2010000000

In [41]:
c = int(input('c:'))
d = int(input('d:'))
e = c ** d
print(e)

c: 10
d: 20

100000000000000000000

In [42]:
len(worst_movie)

11

In [48]:
ch = input('Enter a string')
num = len(ch)
if num == 15:
    print("String has 15 character")
else:
    print("String is greater or smaller than 15")

Enter a string aaaaaaaaaaaaaaa

String has 15 character

In [50]:
msg = input('Enter a message')
len(msg) >= 15

Enter a message aaa

False

In [51]:
type(msg)

str

In [52]:
type(1.11111111111111111111111111111)

float

In [53]:
type((1, 2, 3))

tuple

In [54]:
type([1, 2, 3])

list

In [56]:
type({'a':'apple'})

dict

In [61]:
type(True)

bool

In [60]:
type(None)

NoneType

In [62]:
type(-4)

int

In [1]:
x = int(input())

 a

ValueError: invalid literal for int() with base 10: 'a'

In [2]:
x = int(input())

 46

In [3]:
int(x)

46

In [4]:
x = input()

 a

In [5]:
int(x)

ValueError: invalid literal for int() with base 10: 'a'